/* Start Globale Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

body {
  padding-top: 74px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Globale Rules */

/* start navbar */

.navbar {
  background-color: #b2bec3;
  text-transform: capitalize;
  color: #192a56;
  position: fixed;
  opacity: 0.9;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar .container .logo-bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navbar .container h3 {
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}

.navbar .container .nav-elements {
  display: flex;
  flex: 1;
  list-style: none;
  justify-content: center;
  gap: 24px;
}

.navbar .container li {
  font-size: 18px;
  list-style: none;
}

.navbar .container li a {
  transition: 0.2s;
  color: #192a56;
}

.navbar .container li a:hover,
.navbar .container li a.active {
  color: #0652dd;
}

.navbar .container .search {
  position: relative;
}

.navbar .container .search input {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: #192a56;
  width: 190px;
}

.navbar .container .search input:focus {
  outline: none;
}

.navbar .container .search i.fa-search {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar .container i.fa-bars {
  display: none;
}

/* end navbar */
/* start responsive navbar  */

@media (max-width: 992px) {
  .navbar .container i.fa-bars {
    display: block !important;
    font-size: 27px;
  }

  .navbar .nav-elements {
    flex-direction: column;
    position: absolute;
    top: 74px;
    width: 100%;
    background-color: #b2bec3;
    left: 0;
    width: 100%;
    border-top: 1px solid #192a56;
    display: none;
    z-index: 999;
  }

  .navbar .container .nav-elements li {
    padding: 10px;
  }
}
/* end responsive navbar  */

/* start slider  */

.slider .container {
  margin: 10px auto;
  border: 1px solid #37474f;
  padding: 3px;
}

.slider .container .img {
  width: 100%;
  margin-bottom: 3px;
  position: relative;
}

.slider .container .img img {
  width: 100%;
}

.slider .thumbnails {
  display: flex;
  width: 100%;
}

.slider .thumbnails img {
  padding: 3px;
  cursor: pointer;
  opacity: 0.3;
  transition: 0.5s;
  border: 1px solid #37474f;
}

.slider .thumbnails img::last-child {
  margin-right: 0 !important;
}

.slider .thumbnails img.selected {
  opacity: 1;
}

.img i {
  position: absolute;
  top: 50%;
  color: #cfd8dc;
  background-color: #0652dd;
  padding: 10px;
  cursor: pointer;
  z-index: 333;
}

.img i.fa-chevron-left {
  left: 0;
}
.img i.fa-chevron-right {
  right: 0;
}

/* end slider  */

/* start section */

.section .container {
  display: grid;
  grid-template-columns: 59% 39%;
  margin-top: 40px;
  color: #192a56;
  align-items: center;
  gap: 2%;
}

@media (max-width: 768px) {
  .section .container {
    grid-template-columns: 100%;
    text-align: center;
  }

  .section .container .posts {
    margin-bottom: 20px;
  }
}

.section .container .posts,
.section .container .about {
  background-color: #b2bec3;
  border-radius: 5px;
  padding: 15px;
}

.section .container .posts h2 {
  padding: 0 0 10px 0;
  text-transform: capitalize;
}

.section .container h3 {
  padding-bottom: 10px;
  text-transform: capitalize;
  color: #0652dd;
}

.section .container p {
  line-height: 1.6;
}

/* end section */

/* start footer  */

footer {
  background-color: #192a56;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  padding: 20px 0;
  margin-top: 40px;
}

/* end footer  */
